/* Fullscreen game canvas */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#app {
  width: 100%;
  height: 100%;
}

canvas {
  display: block; /* remove inline gaps */
}
